
<div id ="SignIn" class="TargetPage PopUp"> 
        <form>
             <div class="Form-Input">
                    <input class="Form-Field" name="Login" placeholder="Логин">
                    <div class="Form-Input-Bar"></div>
                    <label class="Form-Label">Логин</label>
                </div>
                  <div class="Form-Input">
                    <input class="Form-Field" type="password" name="Password" placeholder="Пароль">
                    <div class="Form-Input-Bar"></div>
                    <label class="Form-Label">Пароль</label>
                </div>
                 <div class="Form-Input">
                    <input type="checkbox" class="Form-Field" name="RememberMe" placeholder="Запомнить">
                    <div class="Form-Input-Bar"></div>
                    <label class="Form-Label">Запомнить</label>
                </div>
                 <input class="Form-Button" type="submit" value="Войти" />
        </form>
        <a class="Form-Button" href="#SignUp">Зарегистрироватся</a>
</div>


<div id ="SignUp" class="TargetPage PopUp"> 
        <form>
            <div class="Form-Input">
                    <input class="Form-Field" name="Email" placeholder="E-mail">
                    <div class="Form-Input-Bar"></div>
                    <label class="Form-Label">E-mail</label>
                </div>
             <div class="Form-Input">
                    <input class="Form-Field" name="Login" placeholder="Логин">
                    <div class="Form-Input-Bar"></div>
                    <label class="Form-Label">Логин</label>
                </div>
                  <div class="Form-Input">
                    <input class="Form-Field" type="password" name="Password" placeholder="Пароль">
                    <div class="Form-Input-Bar"></div>
                    <label class="Form-Label">Пароль</label>
                </div>
                 
                 <input class="Form-Button" type="submit" value="Зарегистрироватся" />
        </form>

</div>