<div class="Message">
    <span class="MessageText" >Обучение окончено</span>
    
    <div class="LineContent">
        <a class="Form-Button NonUnderline" href="#TrainModel">Результаты</a>
        <button name="Close" class="Form-Button" >Закрыть</button>
    </div>
</div>
<div class="Message" id = "SuccessAuthorize">
    <span class="MessageText" >Авторизация успешна</span>
    <span class="MessageText" >Добро пожаловать, </span>
    <span  class="MessageText ResultText" ></span>
    
    <div class="LineContent">
        <button name="Close" class="Form-Button" >Закрыть</button>
    </div>
</div>