<div id ="ModelingDangerousSituation" class="TargetPage ContentTab MainPage">
        <form>
             <div class="LineContent">
                <span class="CenterText">Моделирование опасной ситуации.</span>
            </div>
            <div class="LineContent">
                    <div class="Form-Input">
                        <input class="Form-Field" name="ClassDS" type="number" min="1" max="4" placeholder="Введите класс опасности">
                        <div class="Form-Input-Bar"></div>
                        <label class="Form-Label">Класс опасности</label>
                    </div>
                </div>
            <div class="LineContent">
                <span class="CenterText">Введите информацию про метеорологические условия</span>
            </div>
            <div class="LineContent">
                    <div class="Form-Input">
                        <input class="Form-Field" name="WindSpeed"  type="number" placeholder="Введите скорость ветра"
                        alt="Скорость ветра в метрах за секунду">
                        <div class="Form-Input-Bar"></div>
                        <label class="Form-Label">Скорость ветра</label>
                    </div>
                    <div class="Form-Input">
                        <input class="Form-Field" name="Humidity" type="number" min="0" max="100"  placeholder="Введите влажность воздуха"
                        alt="Относительная влажность в процентах">
                        <div class="Form-Input-Bar"></div>
                        <label class="Form-Label">Влажность воздуха</label>
                    </div>
                </div>
            <div class="LineContent">
                    <div class="Form-Input">
                        <input class="Form-Field" name="Temperature" type="number" min="-100" max="100"  placeholder="Введите температуру"
                        alt="Значение температуры в градусах цельсия">
                        <div class="Form-Input-Bar"></div>
                        <label class="Form-Label">Температура</label>
                    </div>
                    <div class="Form-Input">
                        <input class="Form-Field" name="Cloudy" type="number" min="0" max="100"  placeholder="Введите значение облачности"
                        alt ="Облачность в процентах покрытия">
                        <div class="Form-Input-Bar"></div>
                        <label class="Form-Label">Облачность</label>
                    </div>
                    </div>
                <div class="LineContent">
                    <div>
                        <input class="Form-Button" value="Начать моделирование" />
                    </div>
                </div>
            </form>
</div>