<div id ="RecognizePage" class="TargetPage ContentTab MainPage">
    <div class="Loading">
        <div class="LineContent">
            <span class="CenterText" >Распознавание начато</span>
            </div>
        <div class="loader"></div>
    </div>
    <div class="ResultRecognize">

    </div>
</div>  